<!DOCTYPE html>
<html lang="en">

<head>
    {% load custom_tags %}
    {% load embed_video_tags %}
    {% video item.video 'medium' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../static/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="../static/css/aos.css">
    <link href="../static/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="../static/css/style.css">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <div class="py-2 bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9 d-none d-lg-block">
                </div>
                <div class="col-lg-3 text-right">
                    {% if user.is_authenticated %}
                    <span style="color: #d9304f;font-size: 16px;margin-right:3px">Hello, {{request.user}}</span>
                    <a href="{% url 'logout' %}" class="small mr-3" style="color: #1b3f28"><span class="icon-lock" style="color: #1b3f28"></span> Log Out</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="small mr-3" style="color: #1b3f28"><span class="icon-unlock-alt" style="color: #1b3f28"></span> Log In</a>
                    <a href="{% url 'register' %}" class="small btn btn-primary px-4 py-2 rounded-0"><span class="icon-users"></span> Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

        <div class="container">
            <div class="d-flex align-items-center">
                <div class="site-logo">
                    <a href="{% url 'index' %}" class="d-block">
                        <img src="../static/images/logo.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>
                <div class="mr-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li>
                                <a href="{% url 'index' %}" class="nav-link text-left">Home</a>
                            </li>
                            <li class="active">
                                <a href="{% url 'courses' %}" class="nav-link text-left">Courses</a>
                            </li>
                            <li>
                                <a href="{% url 'contact' %}" class="nav-link text-left">Contact</a>
                            </li>
                        </ul>                                                                                                                                                                                                                                                                                          </ul>
                    </nav>

                </div>
                <div class="ml-auto">
                    <div class="social-wrap">
                        <a href="#"><span class="icon-facebook"></span></a>
                        <a href="#"><span class="icon-twitter"></span></a>
                        <a href="#"><span class="icon-linkedin"></span></a>

                        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                                class="icon-menu h3"></span></a>
                    </div>
                </div>

            </div>
        </div>

    </header>


    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../static/images/bg_1.jpg')">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-7">
                    <h2 class="mb-0" style="margin-top:50px">Squash & Stretch</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="custom-breadcrumns border-bottom">
        <div class="container">
            <a href="{% url 'index' %}">Home</a>
            <span class="mx-3 icon-keyboard_arrow_right"></span>
            <a href="{% url 'courses' %}">Courses</a>
            <span class="mx-3 icon-keyboard_arrow_right"></span>
            <span class="current">Squash & Stretch</span>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div>
                        {% block content %}
                        {% for v in videos %}
                        {% video v.url '480x360' %}
                        {% endfor %}
                        {% endblock %}
                    </div>
                </div>
                <div class="col-lg-5 ml-auto align-self-center">
                    <h2 class="section-title-underline mb-5">
                        <span>Course Details</span>
                    </h2>

                    <p><strong class="text-black d-block">Video Host: </strong> Alan Becker</p>
                    <p class="mb-5"><strong class="text-black d-block">Video Duration:</strong>3 minutes</p>
                    <p>Want to understand the first of the 12 prinicples of animation?</p>
                    <p>Course recommendations to follow along:</p>

                    <ul class="ul-check primary list-unstyled mb-5">
                        <li>Any 2D animation software</li>
                        <li>A digital pen/digital tablet with/without a screen display.</li>
                        <li>Basic knowledge of animation ( See <a href="{% anchor 'courses' '2d_animation' %}" style="color: #d9304f">12 principles of animation</a>)</li>
                    </ul>



                </div>
                <div style="margin-top:50px;">
                    <h2 class="section-title-underline mb-5">
                        <span>What is squash & stretch?</span>
                    </h2>
                    <p>Squash and Stretch (S&S for short) is the principle of applying a contrasting change of shape—from a squash pose to a stretch pose or vice versa—to give a feeling of fleshiness, flexibility, and life in animation. The absence of squash and stretch gives a rigidity or stiffness to the motion. The transition between a proper Squash pose to a Stretch pose, or the other way around, breaks the perfect solidity that CG animation in particular inherently gives to everything.</p>
                </div>

                <div style="margin: 50px 0px">
                    <h2 class="section-title-underline mb-5">
                        <span>Why do animators need Squash and Stretch?</span>
                    </h2>
                    <p>Squash and Stretch can make characters and inanimate objects have a feeling of life by introducing a flexible quality. S&S can be applied to a single body part, say an eyeball, or the entire character’s pose. The latter is particularly useful when making rigid objects come to life, like the classic Disney Flour Sack, which is a beginning traditional animator’s test case.
                    <br><br>
                    <h4 class="section-title-underline mb-5">
                        <span>How to master Squash and Stretch</span>
                    </h4>
                    <div class="col-md-6 mb-4" style="float:right;margin-left:50px">
                        <p>
                            <img src="../static/images/squash&stretch2.jpg" alt="Image" class="img-fluid">
                        </p>
                    </div>
                    <p>Overdoing S&S is probably one of the biggest errors of a beginning animator. It’s a fun toy in the box, so everyone wants to play with it and show off. Be careful not to overdo it so your character looks broken/off-model or starts losing believability.

                        A common saying for a lot of animation studios is to treat S&S with a ‘feel it, but don’t see it’ guideline. The idea being, you feel the S&S when the animation plays back at 24fps, but can’t really see it. Only by stepping through the frames you would see the S&S. If the S&S is too obvious when playing back it is a sign that you are either using too much or the timing for it is too long.

                        A thing to remember when using broad S&S but want to achieve ‘feel it, not see it’, is to recover out of the extreme S&S poses quickly (transition back to the neutral shape). This gives a nice snappiness to the S&S and keeps the audience from picking up on it and getting distracted.</p>
                    <br>
                    <br>
                    <br>
                    <h4 class="section-title-underline mb-5">
                        <span>Maintaining/Preserving Volume </span>
                    </h4>

                    <p>It’s also important to “maintain volume,” that is, the object should not appear to squash or stretch so much that it actually starts to look like it is growing or gaining size and mass. CG rigs can mathematically preserve the volume correctly (as in the case of the Animation Mentor Advanced Ball), but this may not always look “visually correct” to our eye and possibly need to be cheated based on taste and style.</p>
                    <br>
                    <br>
                </div>
            </div>
            <br>
            <br>
            <br>
            <p>
                <a href="{% url 'courses' %}" class="btn btn-primary rounded-0 btn-lg px-5">Back to courses</a>
                {% if user.is_authenticated %}
                <a href="{% url 'courses' %}" class="btn btn-primary rounded-0 btn-lg px-5" style="margin-left:200px">Mark as finished</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>



<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <p class="mb-4"><img src="../static/images/logo.png" alt="Image" class="img-fluid"></p>
            </div>
            <div class="col-lg-3">
                <h3 class="footer-heading"><span>Update Us</span></h3>
                <p>Help us keep in touch with new updates and crazes by contacting us with your new addition ides.</p>
                <p><a href="{% url 'contact' %}">Submit Contact Info</a></p>
            </div>
            <div class="col-lg-3">
                <h3 class="footer-heading"><span>Our Course Categories</span></h3>
                <ul class="list-unstyled">
                    <li><a href="{% anchor 'courses' '2d_animation' %}">2D Animation</a></li>
                    <li><a href="{% anchor 'courses' '2d_painting' %}">2D Painting</a></li>
                    <li><a href="{% anchor 'courses' 'photoedit' %}">2D Photo Editing</a></li>
                    <li><a href="{% anchor 'courses' '3dsculpt' %}">3D Sculpting</a></li>
                    <li><a href="{% anchor 'courses' '3drigging' %}">3D Rigging</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<!-- .site-wrap -->

<!-- loader -->
<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78"/></svg></div>

<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/jquery-migrate-3.0.1.min.js"></script>
<script src="../static/js/jquery-ui.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/jquery.stellar.min.js"></script>
<script src="../static/js/jquery.countdown.min.js"></script>
<script src="../static/js/bootstrap-datepicker.min.js"></script>
<script src="../static/js/jquery.easing.1.3.js"></script>
<script src="../static/js/aos.js"></script>
<script src="../static/js/jquery.fancybox.min.js"></script>
<script src="../static/js/jquery.sticky.js"></script>
<script src="../static/js/jquery.mb.YTPlayer.min.js"></script>




<script src="../static/js/main.js"></script>

</body>

</html>